<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.bytecode.use_reflection_optimizer">false</property> -->
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">Test_1234</property>
        <property name="hibernate.connection.url">jdbc:jtds:sqlserver://localhost:1433/TestDB</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.cache.use_second_level_cache"> false</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <mapping class="com.mappings.UserDetails"></mapping>
        <!-- <mapping class="com.mappings.Address"></mapping> -->
        <mapping class="com.mappings.Vehicle"></mapping>
        
        
    </session-factory>
</hibernate-configuration>